@using EntityLayer.Concrete
@model EntityLayer.Concrete.Blog
@{
    ViewData["Title"] = "EditBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">Blog Güncelle</div>
            <div class="ibox-content">
                @using (Html.BeginForm("EditBlog", "Blog", FormMethod.Post))
                {
                    @Html.HiddenFor(p=>p.BlogID)
                    @Html.HiddenFor(p=>p.WriterID)
                    @Html.HiddenFor(p=>p.BlogStatus)
                    @Html.HiddenFor(p=>p.BlogCreateDate)
                    <label>Blog Başlığı</label>
                    @Html.TextBoxFor(p=>p.BlogTitle,new{@class="form-control"})
                    <label>Blog Yazısı</label>
                    @Html.TextAreaFor(p=>p.BlogContent,5,5,new{@class="form-control"})
                    <label>Blog Küçük Resim</label>
                    @Html.TextBoxFor(p=>p.BlogThumbnailImage,new{@class="form-control"})
                    <label>Blog Büyük Resim</label>
                    @Html.TextBoxFor(p=>p.BlogImage,new{@class="form-control"})
                    <label>Blog Kategori</label>
                    @Html.DropDownListFor(p=>p.CategoryID,(List<SelectListItem>)ViewBag.blogcategory,new{@class="form-control"})
                    <br />
                    <button class="btn btn-primary">Blog Güncelle</button>
                }
            </div>
        </div>
    </div>
</div>
