@using EntityLayer.Concrete
@model List<WritersMessage>
@{
    ViewData["Title"] = "ReceiverMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gelen Mesajlar</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Gönderici adı</th>
                        <th>Gönderici Mail</th>
                        <th>Konu</th>
                        <th>Mesajı Gör</th>
                        <th>Tarih</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.ID</th>
                            <td>@item.SenderName</td>
                            <td>@item.Sender</td>
                            <td>@item.Subject</td>
                            <td><a href="/Writer/Message/MessageDetails2/@item.ID" class="btn btn-outline-info">Mesajı Gör</a></td>
                            <td>@Convert.ToDateTime(item.Date).ToString("dd-MMMM-yyyy")</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>
